h1{
  color: #161A30;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 30px;
  height: 93px;
  border: 1px solid #000;
  background: #C33434;
  margin-left: 50px;
  margin-right: 50px;
}

.post-show-container {
  width: 1421px;
  height: 729px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #161A30;
  background: #FFF;
  padding-top: 20px;
  }

  .showpage{
    margin-left: 50px;
    margin-right: 50px;
  }


.monument-show {
  width: 50%;
}

.monument-show p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  font-weight: bold;
  }

.monument-show a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
