
<div class = "banner-container">
  <div class = "banner-nav-bar">
    <div class = "banner-content">
      <div><h1><i class="fas fa-play"></i><span class="logo-title">The Monument
        Marketplace</span></h1></div>
        <div>
          <p>Find the perfect monument for your loved one</p>
          <div class = "banner-buttons">
            <ul class="banner-ul">
              <a href = "#" class = "banner-btn">Login</a>
              <a href = "#" class = "banner-btn">Signup</a>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
