<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Monuments</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Monuments", monuments_path %></li>
      <li><%= link_to "New Monument", new_monument_path %></li>
    </ul>
  </div>
