
<div class="row justify-content-center w-100">
  <div class="col-sm-8 my-3">
    <%= form_with url: monuments_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find your dream monument..."
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="container my-2">
  <div class="row">
    <div id="monuments" data-insert-in-list-target="items" class= "cards">
        <% @monuments.each do |monument| %>
          <%= render monument %>
        <% end %>
    </div>
  </div>
</div>
