<%= render 'header' %>

<h1>Adding a Monument</h1>

<div class="container">
  <div class="">
    <div class="row new-form">
      <div class="col-lg-6 left-bg-list">
      </div>
      <div class="col-lg-6 right-bg" >
        <%= render "form", monument: @monument %>
      </div>
    </div>
  </div>
</div>

<br>

<div>
  <%= link_to "Back to monuments", monuments_path %>
</div>
