
  <h2>Want to buy one of our beautiful monuments ?  </h2>

<div class = "button">
   <p> Search </p>
   </button>
</div>

<div class = "anouncecard">
  <div class= "name">
    <h3>Taj Mahal</h3>
  </div>

  <div class = "monument">
    <%= image_tag "tajpicture.jpg", class:"imagemonument" %>
  </div>

  <div class = "description">
      <h4>India</h4>
      <h4>2000$</h4>
      <h6>Beautiful place where peace reign</h6>
  </div>
</div>
