.anouncecard{
  width: 264px;
  height: 265px;
  flex-shrink: 0;
  border: 1px solid #161A30;
  background: rgba(255, 255, 255, 0.85);
  left: 0px;
  margin: 20px;

  .name{
    margin: auto;
    margin-top: 10px;
    width: 140px;
    height: 29px;
    flex-shrink: 0;
    color: #161A30;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #161A30;
    background: #C33434;
    width: 250px;
    height: 81px;
    flex-shrink: 0;
  }
  .imagemonument{
    margin-top: 2px;
    margin-left: 5px;
    width: 250px;
    height: 119px;
    flex-shrink: 0;
    border: 1px solid #161A30;
  }

  .description{
    margin: auto;
    width: 245px;
    height: 18px;
    flex-shrink: 0;
    width: 245px;
    height: 18px;
    flex-shrink: 0;
    color:#161A30;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: flex-end;
  }
}
